<div class="row">
    <div class="col-12">
        <h1>Dispositivos</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button mat-raised-button
                color="primary"
                routerLink="/devices/map">Ver mapa</button>
    </div>
</div>

<div class="row"
     style="margin-top: 10px !important;">
    <div class="col-md-4"
         *ngFor="let d of devicesViewService.devices">

        <a routerLink="/devices/{{ d.id }}/details" style="text-decoration: none;">
            <mat-card>
                <mat-card-content>

                    <mat-card-title>{{ d.name }}</mat-card-title>
                    <mat-card-subtitle>{{ d.address.description }}</mat-card-subtitle>

                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain.
                    </p>

                </mat-card-content>
            </mat-card>
        </a>

    </div>
</div>