<div class="row">
    <div class="col-12">
        <h1>Dispositivos</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button mat-raised-button
                color="primary"
                routerLink="/devices/map">Ver mapa</button>
    </div>
</div>

<div class="row"
     style="margin-top: 10px !important;">

    <div class="col-md-3 device"
         *ngFor="let d of devicesViewService.devices">

        <a routerLink="/devices/{{ d.id }}/details"
           style="text-decoration: none;">

            <mat-card>
                <mat-card-content>

                    <mat-card-title>{{ d.name }}</mat-card-title>
                    <mat-card-subtitle>{{ getDeviceTypeLabel(d) }}</mat-card-subtitle>

                    <app-list-device-gas-level *ngIf="d.type == 'GAS_LEVEL'"
                                               [device]="d"></app-list-device-gas-level>

                </mat-card-content>
            </mat-card>

        </a>

    </div>
</div>