<div class="row">
    <div class="col-12">
        <h1>Dispositivos</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button mat-raised-button
                color="primary"
                routerLink="/devices/map">Ver mapa</button>
    </div>
</div>

<div class="row"
     style="margin-top: 10px !important;">

    <div class="col-md-3 device"
         *ngFor="let d of devicesViewService.devices">

        <a routerLink="/devices/{{ d.id }}/details"
           style="text-decoration: none;">

            <mat-card>
                <mat-card-content class="card-content">

                    <div class="device-title">{{ d.name }}</div>
                    <div class="device-type">{{ getDeviceTypeLabel(d) }}</div>

                    <div class="is-online"
                         [style.color]="d.isOnline ? 'var(--color-nephritis)' : 'var(--color-pomegranate)'">
                        {{d.isOnline ? 'Online' : 'Offline' }}
                    </div>

                    <app-list-device-gas-level *ngIf="d.type == 'GAS_LEVEL'"
                                               [device]="d"></app-list-device-gas-level>

                </mat-card-content>
            </mat-card>

        </a>

    </div>
</div>