<button-dialog-close *ngIf="isModal"></button-dialog-close>

<form [formGroup]="saleOrderForm">

    <div class="row">
        <div class="col-sm-12">
            <!-- <h3 class="title"
            *ngIf="!saleOrder">Nova pessoa</h3> -->
            <h3 class="title">#{{ saleOrderId }}</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <h5>Geral</h5>
        </div>

        <div class="col-4">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select #saleOrderStatus
                            formControlName="status">

                    <mat-option>-</mat-option>

                    <mat-option *ngFor="let sos of saleOrderStatusList"
                                [value]="sos">
                        {{ sos | saleOrderStatus }}
                    </mat-option>

                </mat-select>
                <mat-error *ngIf="!saleOrderForm.get('status').valid">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-4"
             style="display: flex;">

            <div style="width: 100%;">
                <mat-form-field>
                    <input matInput
                           #dateOfIssue
                           type="datetime-local"
                           placeholder="Data pedido"
                           formControlName="dateOfIssue"
                           autocomplete="off">
                    <mat-error *ngIf="!dateOfIssue.valid">
                        Este campo é obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-icon style="cursor: pointer; margin-top: 24px;"
                          (click)="setFormFieldToNull('dateOfIssue')">close</mat-icon>
            </div>

        </div>

        <div class="col-4"
             style="display: flex;">

            <div style="width: 100%;">
                <mat-form-field>
                    <input matInput
                           #deliveredAt
                           type="datetime-local"
                           placeholder="Entrega"
                           formControlName="deliveredAt"
                           autocomplete="off">
                    <mat-error *ngIf="!deliveredAt.valid">
                        Este campo é obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-icon style="cursor: pointer; margin-top: 24px;"
                          (click)="setFormFieldToNull('deliveredAt')">close</mat-icon>
            </div>

        </div>

        <div class="col-12">
            <mat-form-field>
                <mat-label>Unidade</mat-label>
                <mat-select #companyBranch
                            formControlName="companyBranch">
                    <mat-option *ngFor="let branch of companyBranches"
                                [value]="branch.id">
                        {{ branch.name }} - {{ branch.tradeName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <h5>Cliente</h5>
        </div>

        <div class="col-12">
            <app-autocomplete #personCustomerAutocomplete
                              [options]="personCustomerAutocompleteOptions"></app-autocomplete>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <h5>Produtos</h5>
        </div>

        <div class="col-12">
            <table class="p-table">
                <thead>
                    <tr>
                        <th>Cód</th>
                        <th>Produto</th>
                        <th>Tip. preço</th>
                        <th>Preço</th>
                        <th>Qtd</th>
                        <th>Total</th>
                        <th>Opt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products; let i = index">
                        <td>{{ p.companyBranchProduct.product.code }}</td>
                        <td>{{ p.companyBranchProduct.product.name }}</td>
                        <td>{{ p.price.name }}</td>
                        <td>{{ p.salePriceValue }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ (p.quantity * p.salePriceValue) | money }}</td>
                        <td>
                            <a href="javascript:;"
                               (click)="openProductForm(i)">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a href="javascript:;"
                               (click)="removeProduct(i)">
                                <mat-icon>close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td colspan="2"
                            style="font-weight: bold; color: var(--color-alizarin);">
                            {{ productsTotalPrice | money }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <button mat-stroked-button
                    color="primary"
                    style="margin-top: 10px;"
                    (click)="openProductForm()">Incluir produto</button>
        </div>

    </div>

    <div class="row">

        <div class="col-12"
             style="margin-top: 14px;">
            <mat-divider style="margin: 8px 0;"></mat-divider>
            <h5>Entrega</h5>
        </div>

        <div class="col-6">
            <app-autocomplete #employeeDriverAutocomplete
                              [options]="employeeDriverAutocompleteOptions"></app-autocomplete>
        </div>

        <div class="col-6"
             style="display: flex;">

            <div style="width: 100%;">
                <mat-form-field>
                    <input matInput
                           #deliverySchedule
                           type="datetime-local"
                           placeholder="Agendamento de entrega"
                           formControlName="deliverySchedule"
                           autocomplete="off">
                    <mat-error *ngIf="!deliverySchedule.valid">
                        Este campo é obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-icon style="cursor: pointer; margin-top: 24px;"
                          (click)="setFormFieldToNull('deliverySchedule')">close</mat-icon>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-12"
             style="margin-top: 14px;">
            <mat-divider style="margin: 8px 0;"></mat-divider>
            <h5>Pagamento</h5>
        </div>

        <div class="col-12">
            <table class="p-table">
                <thead>
                    <tr>
                        <th>Método</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                        <th>Pagamento</th>
                        <th>Opt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of payments; let i = index">
                        <td>{{ p.paymentMethod.name }}</td>
                        <td>{{ p.value | money }}</td>
                        <td>{{ p.dueDate | momentDate }}</td>
                        <td>{{ p.payDate | momentDate }}</td>
                        <td>
                            <a href="javascript:;"
                               (click)="editPayment(i)">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a href="javascript:;"
                               (click)="removePayment(i)">
                                <mat-icon>close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td style="font-weight: bold; color: var(--color-alizarin);">
                            {{ paymentsTotalPrice | money }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">

        <div class="col-12"
             style="margin-top: 14px;">
            <mat-divider style="margin: 8px 0;"></mat-divider>
        </div>

        <div class="col-12">
            <div>
                <label for="observation">Observação</label>
            </div>
            <div>
                <textarea #observation
                          style="width: 100%;"
                          id="observation"
                          formControlName="observation"
                          rows="5"
                          autocomplete="off"></textarea>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <button mat-flat-button
                    color="primary"
                    (click)="save()"
                    style="margin: 24px 0;">Salvar</button>
        </div>

    </div>

</form>