.price {
    font-size: 24px;
    color: var(--color-alizarin);
    font-weight: bold;
    margin-top: 17px;
}

.product-category {
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
}

.product-code {
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
}