<button-dialog-close></button-dialog-close>

<h1 style="font-size: 24px; margin: 16px;">{{ deposit?.name }}</h1>

<div class="row">

    <div class="col-md-8">

        <div style="display: flex; gap: 48px; align-items: center;">
            <h2 style="font-size: 18px;">Lançamentos</h2>

            <button mat-flat-button
                    style="width: 40%;"
                    color="primary"
                    (click)="openPostForm()">Novo lançamento</button>

            <app-autocomplete style="width: 100%;"
                              #productAutocomplete
                              [options]="productSearchAutocompleteOptions"></app-autocomplete>
        </div>

        <table mat-table
               [dataSource]="stockPosts"
               style="width: 100%;">

            <ng-container matColumnDef="product">
                <th mat-header-cell
                    *matHeaderCellDef>Produto</th>
                <td mat-cell
                    *matCellDef="let element">
                    {{element.depositProduct?.companyBranchProduct.product.name}}
                    ({{element.depositProduct?.companyBranchProduct.product.code}})
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell
                    *matHeaderCellDef>Tipo</th>
                <td mat-cell
                    *matCellDef="let element"
                    style="font-weight: bold;"
                    [style.color]="element.quantity > 0 ? 'var(--color-nephritis)' : 'var(--color-peterriver)'">
                    {{element.quantity > 0 ? 'Entrada' : 'Saída'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell
                    *matHeaderCellDef>Quantidade</th>
                <td mat-cell
                    *matCellDef="let element"
                    style="font-weight: bold;">
                    {{element.quantity}}
                </td>
            </ng-container>

            <ng-container matColumnDef="observation">
                <th mat-header-cell
                    *matHeaderCellDef>Observação</th>
                <td mat-cell
                    *matCellDef="let element">
                    {{element.observation}}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell
                    *matHeaderCellDef>Data</th>
                <td mat-cell
                    *matCellDef="let element">
                    {{element.dateOfIssue | momentDate:'DD/MM/YYYY HH:mm'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell
                    *matHeaderCellDef></th>
                <td mat-cell
                    *matCellDef="let element">

                    <a href="javascript:;"
                       (click)="deletePost(element)">
                        <mat-icon>delete</mat-icon>
                    </a>

                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: tableColumns;"></tr>
        </table>

        <div style="text-align: center; padding: 10px;">
            <button mat-flat-button
                    *ngIf="stockPosts.length >= filter.limit"
                    color="primary"
                    (click)="loadMore()">Mais...</button>
        </div>

    </div>

    <div class="col-md-4">

        <h2 style="font-size: 18px;">Total</h2>

        <table class="stock-table"
               *ngIf="deposit?.products.length">

            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let p of deposit.products">
                    <td>
                        {{ p.companyBranchProduct.product.name }} ({{ p.companyBranchProduct.product.code }})
                    </td>
                    <td>{{ p.quantity }}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>

<!-- <button href="javascript:;"
        (click)="openForm()"
        mat-fab
        color="primary"
        class="btn-add">
    <mat-icon>add</mat-icon>
</button> -->