<div *ngIf="inputData"
     class="content">

    <div class="status"
         [style.background]="inputData.delivery.deliveryInstruction.status | deliveryInstructionStatusColor">
        {{ inputData.delivery.deliveryInstruction.status | deliveryInstructionStatus }}
    </div>

    <div class="description">
        {{ inputData.delivery.deliveryInstruction.description }}
    </div>

    <div style="width: 100%; margin-top: 8px;">

        <button mat-stroked-button
                color="primary"
                class="delete-instruction"
                (click)="deleteInstruction()"
                *ngIf="!inputData.column.defaultColumn">
            <mat-icon>close</mat-icon>
        </button>

        <button mat-stroked-button
                class="confirm-delivery"
                color="primary"
                (click)="openDeliveryFinalize()"
                *ngIf="!inputData.column.defaultColumn">
            <mat-icon>check</mat-icon>
        </button>

    </div>

</div>