<button-dialog-close *ngIf="isModal"></button-dialog-close>

<div class="row">
    <div class="col-sm-12">
        <h3 class="title"
            *ngIf="!deposit">Novo depósito</h3>
        <h3 class="title"
            *ngIf="deposit">Edição {{ deposit.name }}</h3>
    </div>
</div>

<form [formGroup]="depositForm">

    <div class="row">

        <div class="col-12">
            <mat-form-field>
                <input #name
                       matInput
                       placeholder="Nome"
                       autocomplete="off"
                       formControlName="name">
                <mat-error *ngIf="!name.valid">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <mat-label>Unidade</mat-label>
                <mat-select #type
                            formControlName="companyBranch">
                    <mat-option *ngFor="let cb of companyBranches"
                                [value]="cb.id">
                        {{ cb.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!depositForm.get('companyBranch').valid">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-sm-12">
            <button mat-flat-button
                    color="primary"
                    (click)="save()"
                    style="margin: 24px 0;">Salvar</button>
        </div>

    </div>

</form>