table {
    width: 100%;

    th,
    td {
        max-width: calc(100vw / 10);
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td {
        padding: 0 7px;
    }
}
