<h1 style="font-size: 32px; margin: 16px;">Controle de estoque</h1>

<div class="row">
    <div class="col-md-12">

        <div style="display: flex; gap: 48px; align-items: center;">

            <mat-form-field style="width: 50%;">
                <mat-label>Unidade</mat-label>
                <mat-select #companyBranch
                            [(ngModel)]="companyBranchIdValue"
                            (selectionChange)="getStockDeposits({ showLoader: true })">

                    <mat-option *ngFor="let cb of companyBranches"
                                [value]="cb.id">
                        {{ cb.tradeName }} - {{ cb.name }}
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <button [disabled]="!companyBranch.value"
                    mat-flat-button
                    color="primary"
                    (click)="getStockDeposits({ showLoader: true })">Atualizar</button>

            <button *ngIf="companyBranch.value"
                    mat-stroked-button
                    color="primary"
                    (click)="openDepositTransfer()">
                Transferência de estoque
                <mat-icon>swap_horiz</mat-icon>
            </button>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-md-9">

        <div class="row">
            <div class="col-md-4"
                 *ngFor="let d of deposits"
                 style="margin-bottom: 24px;">

                <mat-card>

                    <mat-card-header>
                        <mat-card-title style="font-weight: bold;">{{ d.name }}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <table class="stock-table"
                               *ngIf="d.products.length">

                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let p of d.products">
                                    <td>
                                        {{ p.companyBranchProduct.product.name }} ({{
                                        p.companyBranchProduct.product.code }})
                                    </td>
                                    <td>{{ p.quantity }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-stroked-button
                                color="primary"
                                (click)="openStockPosts(d.id)">Lançamentos</button>
                    </mat-card-actions>

                </mat-card>
            </div>

        </div>

    </div>

    <div class="col-3"
         *ngIf="deposits.length">

        <h5>Total</h5>

        <table class="stock-table">

            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let p of productsTotals">
                    <td>
                        {{ p.product.product.name }} ({{
                        p.product.product.code }})
                    </td>
                    <td>{{ p.quantity }}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>