<div class="container">

    <div class="row">
        <div class="col-12 header default-margin-top">

            <h1 class="title">{{ device?.name || 'Dispositivo' }}</h1>

            <span class="device-id">#{{ device?.id || '-' }}</span>

            <div class="person">
                <a href="javascript:;"
                   (click)="openPerson()">
                    {{ device?.person?.name }} ({{ device?.person?.id }})
                </a>
            </div>

            <div class="address">{{ device?.address | address }}</div>

            <div class="btn-create-sale">
                <button mat-stroked-button
                        (click)="createSale()"
                        color="primary">Criar pedido</button>
            </div>

            <!-- <span class="last-update">Última atualização {{ device ? ((device.deviceGasLevel.lastWeightUpdate |
                momentCalendar) | lowercase) : '-' }}</span> -->

            <span *ngIf="device"
                  class="is-online"
                  [style.color]="device?.isOnline ? 'var(--color-nephritis)' : 'var(--color-pomegranate)'">
                {{device?.isOnline ? 'Online' : 'Offline' }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ng-container #deviceContainer></ng-container>
        </div>
    </div>

</div>