.header {
    span {
        display: block;
        color: var(--color-asbestos);
    }

    .person {
        font-weight: bold;
    }

    .address {
    }

    .device-id,
    .is-online {
        font-weight: bold;
    }

    .btn-create-sale {
        button {
            padding: 5px;
            line-height: 1;
            margin: 6px 0;
        }
    }
}
