@import "~@angular/material/theming";

@include mat-core();

$custom-color: (
  200: #0061DA,
  500: #2c8bff,
  contrast: (
    200: #fff,
    500: #fff,
  ),
);

$primary: mat-palette($custom-color, 200);
$accent: mat-palette($custom-color, 500);

$theme: mat-light-theme($primary, $accent);

$custom-typography: mat-typography-config(
  $font-family: "Open Sans",
);

@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);

:root {
  --primary-color: #0061DA;
  --primary-color-light: #1e7ff5;
  --primary-color-extra-light: #67acff;
  --primary-color-dark: #003d87;

  --secondary-color: #2c8bff;
  --secondary-color-light: #6888c4;
  --secondary-color-dark: #184b8a;

  /* custom colors */
  --color-turquoise: #1abc9c;
  --color-emerland: #2ecc71;
  --color-peterriver: #3498db;
  --color-amethyst: #9b59b6;
  --color-wetasphalt: #34495e;
  --color-greensea: #16a085;
  --color-nephritis: #27ae60;
  --color-belizehole: #2980b9;
  --color-wisteria: #8e44ad;
  --color-midnightblue: #2c3e50;
  --color-sunflower: #f1c40f;
  --color-carrot: #e67e22;
  --color-alizarin: #e74c3c;
  --color-clouds: #ecf0f1;
  --color-concrete: #95a5a6;
  --color-orange: #f39c12;
  --color-pumpkin: #d35400;
  --color-pomegranate: #c0392b;
  --color-silver: #bdc3c7;
  --color-asbestos: #7f8c8d;
}
