.bg {
  background: url("/assets/images/login-bg.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-card {
  text-align: center;
  padding: 30px;
  margin-top: 20% !important;
}
