<h1 style="font-size: 32px; margin: 16px;">Funcionários</h1>

<table mat-table
       [dataSource]="employees">

    <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef>#</th>
        <td mat-cell
            *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef>Nome</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="color">
        <th mat-header-cell
            *matHeaderCellDef>Cor</th>
        <td mat-cell
            *matCellDef="let element">
            <div class="employee-color"
                 [style.background]="element.color"></div>
        </td>
    </ng-container>

    <ng-container matColumnDef="roles">
        <th mat-header-cell
            *matHeaderCellDef>Funções</th>
        <td mat-cell
            *matCellDef="let element">

            {{ getEmployeeTypes(element) }}

        </td>
    </ng-container>

    <ng-container matColumnDef="vehicle">
        <th mat-header-cell
            *matHeaderCellDef>Funções</th>
        <td mat-cell
            *matCellDef="let element">

            {{ element.vehicle?.nickname ? element.vehicle?.nickname + ' - ' : '' }}{{ element.vehicle?.description }}

        </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell
            *matHeaderCellDef></th>
        <td mat-cell
            *matCellDef="let element">
            <a href="javascript:;"
               (click)="openForm(element.id)">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: tableColumns;"></tr>
</table>

<button href="javascript:;"
        (click)="openForm()"
        mat-fab
        color="primary"
        class="btn-add">
    <mat-icon>add</mat-icon>
</button>