<div class="loader-background"
     *ngIf="loaderState">
  <div class="loader">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <mat-spinner diameter="60"></mat-spinner>
    <div class="loader-text">⏳ Aguarde...</div>
  </div>
</div>

<ng-template #content>

  <mat-toolbar color="primary"
               [style.display]="isLogin ? 'none' : 'flex'">

    <button (click)="sidenav.toggle()"
            mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <a class="toolbar-link"
       routerLink="/home">
      <img style="height: 18px; margin-bottom: 7px;;"
           src="assets/images/logo-white.png">
    </a>

    <!-- <ul>
      <li *ngFor="let menu of toolbarMenus">
        <a [routerLink]="menu.route"
           routerLinkActive="active">{{ menu.title }}</a>
      </li>
    </ul> -->

    <span class="spacer"></span>

    <strong style="font-size: 14px;">{{ loggedUser?.company?.name }}</strong>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 [opened]="false"
                 mode="side"
                 position="start">

      <mat-list class="mat-list-base-no-padding-top">

        <mat-list-item style="margin: 16px 0;">
          <img matListAvatar
               [src]="userService.getAvatarImageNameInitials(loggedUser.username)"
               [alt]="loggedUser.username">
          <h3 style="font-weight: bold;"
              matLine>{{ loggedUser.username }}</h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let menu of sidenavMenus"
                               [hideToggle]="!menu.subMenus?.length"
                               [routerLink]="menu.route"
                               (click)="menuClick(menu.onClick)"
                               class="menu-expansion-panel mat-expansion-panel-body-no-padding">

            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
                {{ menu.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list *ngIf="menu.subMenus?.length">
              <mat-list-item *ngFor="let subMenu of menu.subMenus"
                             class="sub-menu"
                             [routerLink]="subMenu.route"
                             (click)="$event.stopPropagation(); menuClick(subMenu.onClick)">
                {{ subMenu.title }}
              </mat-list-item>
            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- <mat-list-item class="menu-item"
                       *ngFor="let item of sidenavMenus"
                       (click)="menuClick(item.onClick)"
                       routerLink="{{ item.route }}">
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <h4 mat-line>{{ item.title }}</h4>
          <mat-divider></mat-divider>
        </mat-list-item> -->

        <!-- <mat-list-item class="menu-item"
                       (click)="logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 mat-line>Sair</h4>
        </mat-list-item> -->

      </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-top"></div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-template>

<div *ngIf="!isLogin && loggedUser">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<div *ngIf="isLogin">
  <router-outlet></router-outlet>
</div>

<footer></footer>