.price {
    font-size: 24px;
    color: var(--color-alizarin);
    font-weight: bold;
    margin-top: 17px;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;

    th,
    td {
        border: 1px solid #ddd;
    }
}

.product-category {
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
}

.product-code {
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
}