<google-map #map
            width="100%"
            height="100%"
            [zoom]="mapZoom"
            [center]="mapCenter"
            [options]="mapOptions">

    <map-marker *ngFor="let m of markers; let i = index"
                [position]="m.marker.position"
                [title]="m.marker.title"
                [label]="m.marker.label"
                [options]="m.marker.options"
                #marker="mapMarker"
                (mapClick)="openInfoWindow(marker, i)">

        <map-info-window #infoWindow
                         *ngIf="m.employeeDriverCoordinates">
            Última atualização {{ (m.employeeDriverCoordinates.coordinatesUpdatedAt | momentCalendar) | lowercase}}
        </map-info-window>

    </map-marker>
</google-map>