<div class="header-options">

    <div class="refresh">
        <button mat-flat-button
                color="primary"
                (click)="refreshSaleOrders()">Atualizar</button>
    </div>

    <div class="add-driver">
        <app-autocomplete #employeeDriverAutocomplete
                          [options]="employeeDriverSearchAutocompleteOptions"></app-autocomplete>
    </div>
</div>

<div cdkDropListGroup
     class="board">

    <div class="column-container"
         *ngFor="let column of board.columns">

        <div class="column-header">
            <h2>{{ column.title }}</h2>
            <mat-icon class="column-close"
                      *ngIf="!column.undefinedDriver"
                      (click)="removeColumn(column.employeeDriverId)">close</mat-icon>
        </div>

        <div cdkDropList
             [cdkDropListData]="column.cards"
             class="card-list"
             (cdkDropListDropped)="drop($event, column)">

            <div class="card-box"
                 *ngFor="let card of column.cards"
                 cdkDrag>

                <div class="card-custom-placeholder"
                     *cdkDragPlaceholder></div>

                <!-- <div class="card-handle"
                     cdkDragHandle>
                    <mat-icon style="cursor: move;">open_with</mat-icon>
                </div> -->

                <div class="id">#{{ card.saleOrder.id }}</div>
                <div class="customer">{{ card.saleOrder.personCustomer.name }} ({{ card.saleOrder.personCustomer.id }})
                </div>
                <div class="products"
                     [innerHTML]="getSaleOrderProductsFormatted(card.saleOrder)"></div>
                <div class="address">
                    <a href="javascript:;"
                       (click)="copyAddressToClipboard(card.saleOrder.deliveryAddress)">
                        {{ card.saleOrder.deliveryAddress | address }}
                    </a>
                </div>
                <div class="date">
                    <div>
                        {{ card.saleOrder.dateOfIssue | momentDate:'DD/MM/YYYY HH:mm' }}
                    </div>

                    <div *ngIf="card.saleOrder.scheduledAt"
                         class="schedule">
                        Agendamento: {{ card.saleOrder.scheduledAt | momentDate:'DD/MM/YYYY HH:mm' }}
                    </div>
                </div>
                <div *ngIf="card.saleOrder.observation"
                     class="observation">
                    <input *ngIf="!column.undefinedDriver" type="checkbox"
                           [(ngModel)]="card.copyObservation">
                    Obs: {{ card.saleOrder.observation }}
                </div>

                <div style="width: 100%; margin-top: 8px;">
                    <button mat-stroked-button
                            color="primary"
                            (click)="copySaleOrderToClipboard(card.saleOrder, card.copyObservation); card.copyObservation = null"
                            *ngIf="!column.undefinedDriver">
                        <mat-icon>content_copy</mat-icon>
                    </button>

                    <button mat-stroked-button
                            class="confirm-delivery"
                            color="primary"
                            (click)="openConfirmDelivery(card.saleOrder)"
                            *ngIf="!column.undefinedDriver">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>