.map-sidenav {
    width: 35%;
}

.header-options {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .refresh {
        padding: 13px;
    }

    .add-driver {
        width: 350px;
    }

    .map-sidenav-toggle {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-right: 0;
        cursor: pointer;
        -webkit-border-top-left-radius: 50px;
        -webkit-border-bottom-left-radius: 50px;
        -moz-border-radius-topleft: 50px;
        -moz-border-radius-bottomleft: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        mat-icon {
            margin: 10px;
        }
    }
}

.board {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.column-container:first-child {
    margin-left: 20px;
}

.column-container {
    background: #fff;
    width: 350px;
    min-width: 350px;

    h2 {
        font-size: 22px;
    }

    .column-close {
        cursor: pointer;
    }

    .column-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7px;
    }
}

.card-list {
    border: solid 1px #ccc;
    min-height: 110px;
    background: white;
    border-radius: 24px;
    overflow: hidden;
    display: block;
    height: calc(100vh - 237px);
    overflow-y: auto;
}

.card-list-extra {
    height: auto !important;
    min-height: 0px !important;
    margin-bottom: 7px !important;
}

.card-box {
    padding: 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 90px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-handle {
    position: absolute;
    cursor: move;
    color: #adadad;
    margin-left: 264px;
}
