<div class="header-options">

     <div style="padding-top: 20px; padding-left: 25px;">
          <mat-slide-toggle #autoRefreshEl
                            (change)="autoRefreshChange(autoRefreshEl.checked)"
                            [checked]="autoRefresh">Auto Refresh</mat-slide-toggle>
     </div>

     <div class="refresh">
          <button mat-flat-button
                  color="primary"
                  (click)="refreshDeliveries({force: true})">Atualizar</button>
     </div>

     <div class="add-driver">
          <app-autocomplete #employeeDriverAutocomplete
                            [options]="employeeDriverSearchAutocompleteOptions"></app-autocomplete>
     </div>
</div>

<div cdkDropListGroup
     class="board">

     <div class="column-container"
          *ngFor="let column of board.columns">

          <div class="column-header">
               <h2>{{ column.title }}</h2>
               <mat-icon class="column-close"
                         *ngIf="!column.defaultColumn"
                         (click)="removeColumn(column.employeeDriverId)">close</mat-icon>
          </div>

          <!-- extra cards -->
          <div *ngIf="column.defaultColumn"
               cdkDropList
               [cdkDropListData]="extraCards"
               class="card-list card-list-extra">

               <div class="card-box"
                    *ngFor="let card of extraCards"
                    (cdkDragStarted)="dragStarted()"
                    cdkDrag>

                    <div class="card-custom-placeholder"
                         *cdkDragPlaceholder></div>

                    {{ card.extra.type | deliveryExtraCardType }}
               </div>
          </div>

          <!-- deliveries -->
          <div cdkDropList
               [cdkDropListData]="column.cards"
               class="card-list"
               (cdkDropListDropped)="drop($event, column)">

               <div class="card-box"
                    *ngFor="let card of column.cards"
                    cdkDrag
                    (cdkDragStarted)="dragStarted()">

                    <div class="card-custom-placeholder"
                         *cdkDragPlaceholder></div>

                    <app-card-sale-order *ngIf="card.delivery?.saleOrder"
                                         style="width: 100%;"
                                         (openDeliveryFinalize)="openConfirmDelivery($event)"
                                         [inputData]="{
                                         delivery: card.delivery,
                                         copyObservation: card.copyObservation,
                                         column: column
                                    }"></app-card-sale-order>

                    <app-card-delivery-instruction *ngIf="card.delivery?.deliveryInstruction"
                                                   style="width: 100%;"
                                                   (openDeliveryFinalize)="openConfirmDelivery($event)"
                                                   [inputData]="{
                                                    delivery: card.delivery,
                                                    column: column
                                               }"></app-card-delivery-instruction>

                    <div *ngIf="card?.extra?.type == 'deliveryInstruction'">
                         {{ card.extra.type | deliveryExtraCardType }}
                    </div>

               </div>
          </div>
     </div>

</div>