.selected-customer {
    border: 1px solid #ddd;
    padding: 11px;
    font-size: 13px;
    border-radius: 4px;

    button {
        margin-top: 7px;
    }
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;

    th,
    td {
        border: 1px solid #ddd;
    }
}

.selected-driver {
    border: 1px solid #ddd;
    padding: 11px;
    font-size: 13px;
    border-radius: 4px;

    button {
        margin-top: 7px;
    }
}

.payment {
    border: 1px solid #ddd;
    padding: 11px;
    border-radius: 4px;
}
