<mat-tab-group>

    <mat-tab label="Vendas por período">
        <div class="row">
            <div class="col-12">
                <app-sales-by-period></app-sales-by-period>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Estatísticas de vendas">
        <div class="row">
            <div class="col-12">
                <app-persons-customers-next-gas-sales></app-persons-customers-next-gas-sales>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>

<!-- <div style="margin-top: 15px;">

    <div class="row">

        <div class="col-12">
            <app-sales-by-period></app-sales-by-period>
        </div>

    </div>

</div> -->