<div class="row">

    <div [class]="salesPosService.personCustomer ? 'col-md-8' : 'col-md-12'">

        <div class="row">
            <div class="col-12">
                <mat-form-field>
                    <input #generalSearch
                           matInput
                           placeholder="Geral"
                           autocomplete="off"
                           (keyup.enter)="search()">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <input #nameSearch
                           matInput
                           placeholder="Nome"
                           autocomplete="off"
                           (keyup.enter)="search()">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <input #phoneSearch
                           matInput
                           placeholder="Telefone"
                           autocomplete="off"
                           (keyup.enter)="search()">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <input #addressSearch
                           matInput
                           placeholder="Endereço"
                           autocomplete="off"
                           (keyup.enter)="search()">
                </mat-form-field>
            </div>
        </div>

    </div>

    <div *ngIf="salesPosService.personCustomer"
         class="col-md-4"
         style="padding-top: 26px">

        <div class="selected-customer">
            <div>
                <strong>{{ salesPosService.personCustomer.name }} ({{ salesPosService.personCustomer.id }})</strong>
            </div>

            <div>
                {{ salesPosService.personCustomer.phones }}
            </div>

            <div>
                {{salesPosService.personCustomer.addressDescription}} {{
                salesPosService.personCustomer.addressComplement ?
                '(compl: '+ salesPosService.personCustomer.addressComplement +')'
                :
                '' }}
            </div>

            <div>
                <button mat-stroked-button
                        (click)="unselectPersonCustomer()">Cancelar seleção</button>
            </div>
        </div>

    </div>

</div>

<div class="row"
     style="margin-bottom: 15px !important">
    <div class="col-12">

        <button mat-stroked-button
                color="primary"
                (click)="clearFilter()"
                style="margin-right: 15px">Limpar filtros</button>

        <button mat-flat-button
                color="primary"
                (click)="search()">Buscar</button>

    </div>
</div>

<div class="row">
    <table mat-table
           [dataSource]="persons">

        <ng-container matColumnDef="id">
            <th mat-header-cell
                *matHeaderCellDef>#</th>
            <td mat-cell
                *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef>Nome</th>
            <td mat-cell
                *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="phones">
            <th mat-header-cell
                *matHeaderCellDef>Telefones</th>
            <td mat-cell
                *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip *ngFor="let p of element.phones">{{ p }}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell
                *matHeaderCellDef>Endereço</th>
            <td mat-cell
                *matCellDef="let element">
                <a href="javascript:;"
                   (click)="copyAddressLink(element)">
                    {{element.addressDescription}} {{ element.addressComplement ? '(compl: '+ element.addressComplement
                    +')'
                    :
                    '' }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell
                *matHeaderCellDef>Opções</th>
            <td mat-cell
                *matCellDef="let element">

                <button mat-stroked-button
                        (click)="selectPersonCustomer(element)">Selecionar</button>

                <button mat-stroked-button
                        (click)="openPersonForm(element.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: tableColumns;"
            [style.backgroundColor]="salesPosService.personCustomer && salesPosService.personCustomer.id == row.id ? '#efefef' : null">
        </tr>
    </table>

    <div style="text-align: center; padding: 10px;">
        <button mat-flat-button
                *ngIf="persons.length >= personSearchFilter.limit"
                color="primary"
                (click)="loadMore()">Mais...</button>
    </div>
</div>

<button href="javascript:;"
        (click)="openPersonForm()"
        mat-fab
        color="primary"
        class="btn-add">
    <mat-icon>add</mat-icon>
</button>