<button-dialog-close></button-dialog-close>

<div class="row">

    <div class="col-12">
        <h1 style="font-size: 22px; font-weight: bold;">
            {{ inputData.delivery.saleOrder ?
            '#' + inputData.delivery.saleOrder.id : inputData.delivery.deliveryInstruction.description }}
        </h1>
    </div>

    <div class="col-12">
        <h2 style="font-size: 22px;">Finalizar</h2>
    </div>

    <div class="col-12"
         *ngIf="inputData.delivery.saleOrder">
        <mat-form-field>
            <input #deliveredAt
                   matInput
                   type="datetime-local"
                   placeholder="Horário da entrega"
                   autocomplete="off"
                   [value]="now">
        </mat-form-field>
    </div>

    <!-- <div class="col-8"
         *ngIf="inputData.delivery.saleOrder">
        <mat-form-field>
            <mat-label>Tipo de pagamento</mat-label>
            <mat-select #paymentMethod
                        [value]="inputData.delivery.saleOrder?.paymentMethod?.id">

                <mat-option *ngFor="let pm of paymentMethods"
                            [value]="pm.id">
                    {{ pm.name }}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div> -->

    <div class="col-12"
         style="display: flex; gap: 10px;">

        <button mat-stroked-button
                color="primary"
                (click)="cancel()">Cancelar</button>

        <button mat-flat-button
                color="primary"
                (click)="confirm()">Confirmar</button>
    </div>
</div>