<button-dialog-close></button-dialog-close>

<div class="row">

    <div class="col-12">
        <h1 style="font-size: 22px; font-weight: bold;">#{{ inputData.saleOrder.id }}</h1>
    </div>

    <div class="col-12">
        <h2 style="font-size: 22px;">Confirmar entrega</h2>
    </div>

    <div class="col-12">
        <mat-form-field>
            <input #deliveredAt
                   matInput
                   type="datetime-local"
                   placeholder="Horário da entrega"
                   autocomplete="off"
                   [value]="now">
        </mat-form-field>
    </div>

    <div class="col-8">
        <mat-form-field>
            <mat-label>Tipo de pagamento</mat-label>
            <mat-select #paymentMethod
                        [value]="inputData.saleOrder?.paymentMethod?.id">

                <mat-option *ngFor="let pm of paymentMethods"
                            [value]="pm.id">
                    {{ pm.name }}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-4"
         *ngIf="hasInstallments">
        <mat-form-field>
            <input #installments
                   matInput
                   placeholder="Número de parcelas"
                   autocomplete="off"
                   type="number"
                   [value]="inputData.saleOrder.paymentInstallments || 1">
            <mat-error *ngIf="installments.value <= 0">
                Número de parcelas deve ser superior ou igual a 1
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-12"
         style="display: flex; gap: 10px;">

        <button mat-stroked-button
                color="primary"
                (click)="cancel()">Cancelar</button>

        <button mat-flat-button
                color="primary"
                (click)="confirm()">Confirmar</button>
    </div>
</div>