<table mat-table
       [dataSource]="saleOrders">

    <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef>#</th>
        <td mat-cell
            *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="datetime">
        <th mat-header-cell
            *matHeaderCellDef>Data</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.createdAt | momentDate:'DD/MM/YYYY HH:mm'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="customer">
        <th mat-header-cell
            *matHeaderCellDef>Cliente</th>
        <td mat-cell
            *matCellDef="let element">
            {{ element.personCustomer.name }}

            <img *ngIf="element.personCustomer.isGasCustomer"
                     style="width: 12px;"
                     src="/assets/images/gas-cylinder-icon.png"
                     title="Cliente de gás">
        </td>
    </ng-container>

    <ng-container matColumnDef="driver">
        <th mat-header-cell
            *matHeaderCellDef>Entregador</th>
        <td mat-cell
            *matCellDef="let element">
            {{ element.employeeDriver?.name || '-' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell
            *matHeaderCellDef>Endereço</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.deliveryAddress.description}} {{ element.deliveryAddress.complement ? '(compl: '+
            element.deliveryAddress.complement
            +')'
            :
            '' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="deliveredAt">
        <th mat-header-cell
            *matHeaderCellDef>Hora entrega</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.deliveredAt | momentDate:'DD/MM/YYYY HH:mm'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef>Status</th>
        <td mat-cell
            *matCellDef="let element">

            <mat-chip-list>
                <mat-chip style="color: #fff"
                          [style.background]="element.status | saleOrderStatusColor">
                    {{ element.status | saleOrderStatus }}
                </mat-chip>
            </mat-chip-list>

        </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell
            *matHeaderCellDef></th>
        <td mat-cell
            *matCellDef="let element">
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: tableColumns;"></tr>
</table>

<div style="text-align: center; padding: 10px;">
    <button mat-flat-button
            *ngIf="saleOrders.length >= saleOrderFilter.limit"
            color="primary"
            (click)="loadMore()">Mais...</button>
</div>