<button-dialog-close></button-dialog-close>

<h1 style="font-size: 26px;">Histórico</h1>

<table mat-table
       [dataSource]="historyReads">

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell
            *matHeaderCellDef>Data</th>
        <td mat-cell
            *matCellDef="let element">{{element.createdAt | momentDate:'DD/MM/YYYY HH:mm'}}</td>
    </ng-container>

    <ng-container matColumnDef="cylinderWeight">
        <th mat-header-cell
            *matHeaderCellDef>Peso do cilindro</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.cylinderWeight | round:2}} Kg
        </td>
    </ng-container>

    <ng-container matColumnDef="weight">
        <th mat-header-cell
            *matHeaderCellDef>Peso total</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.weight | round:2}} Kg
        </td>
    </ng-container>

    <ng-container matColumnDef="gasWeight">
        <th mat-header-cell
            *matHeaderCellDef>Peso gás</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.gasWeight | round:2}} Kg
        </td>
    </ng-container>

    <ng-container matColumnDef="percentage">
        <th mat-header-cell
            *matHeaderCellDef>%</th>
        <td mat-cell
            *matCellDef="let element">
            {{element.percentage | round:2}}%
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: tableColumns;"></tr>
</table>

<div style="text-align: center; padding: 10px;">
    <button mat-flat-button
            *ngIf="historyReads.length >= historyReadFilter.limit"
            color="primary"
            (click)="loadMore()">Mais...</button>
</div>